html {
  font-family: Arial, sans-serif; 
}

.map {
  height: 200 vh; 
  overflow: hidden; 
}

@media only screen and (min-width: 990 px) {
  .container {
    display: flex; 
  }

  .map_emission {
    display: none; 
  }

}

@media only screen and (max-width: 989 px) {
  .map_emission {
    background-color: #00bd3f;
    color: #fff;
    padding: 5px 0;
    text-align: center; 
    font-weight: bold; 

    
  }
}
